body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg .disabled path,
svg .disabled line,
svg .disabled polyline {
  stroke: #ccc;
}

svg .disabled rect,
svg .disabled polygon {
  fill: #ccc;
}

svg text {
  cursor: pointer;
}

svg text.disabled {
  fill: #bbb;
}

svg .white_line path,
svg .white_line line,
svg .white_line polyline {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round
}
svg .disabled .transparent-field,
svg .transparent-field {
  fill: transparent;
}